# Created by http://www.gitignore.io

### Java ###
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
*pom.properties


### Eclipse ###
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
*db_connection.properties

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin 
.target

# TeXlipse plugin
.texlipse

MANIFEST.MF
pom.properties
pom.xml
*.properties
Halli/target/m2e-wtp/web-resources/META-INF/maven/fi.softala/koulutusjarjestelma/pom.xml
Halli/target/classes/fi/softala/bean/Aikatauluslotti.class
*.xml
Halli/target/classes/db_connection.properties
Halli/target/classes/fi/softala/bean/Aikatauluslotti.class
Halli/target/m2e-wtp/web-resources/META-INF/maven/fi.softala/koulutusjarjestelma/pom.properties
Halli/target/m2e-wtp/web-resources/META-INF/maven/fi.softala/koulutusjarjestelma/pom.xml
Halli/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
Halli/target/m2e-wtp/web-resources/META-INF/maven/fi.softala/koulutusjarjestelma/pom.properties
Halli/target/m2e-wtp/web-resources/META-INF/maven/fi.softala/koulutusjarjestelma/pom.xml
Halli/target/classes/db_connection.properties
Halli/target/classes/fi/softala/bean/Aikatauluslotti.class
Halli/target/classes/fi/softala/bean/Koulutustilaisuus.class
